/* 1era parte */
.container{
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 100px;
    grid-row-gap: 0px;
}
.container img{
    width: 560px;
    height: 400px;
    object-fit: contain;
    grid-area: 1 / 1 / 4 / 2;
}
.container h4{
    grid-area: 1 / 2 / 2 / 3;
    font-size: 20px;
    font-weight: 600;
    color: var(--gray);
    align-self: flex-end;
}
.container h1{
    grid-area: 2 / 2 / 3 / 3;
    font-size: 50px;
    font-weight: 600;
    color: var(--gray);
}
.container p{
    grid-area: 3 / 2 / 4 / 3;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.1px;
    color: var(--gray);
    margin-top: -20px;
}

/* 3era parte */
.containerHighlights{
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 60px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(autofill);
    grid-row-gap: 80px;
}
.containerHighlights .divHighlights{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 0px;
    align-items: center;
    justify-items: center;
}
.containerHighlights .divHighlights img{
    max-width: 560px;
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.containerHighlights .divHighlights h3{
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: -0.4px;
    color: var(--darkgray);
}
.containerHighlights .divHighlights p{
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.1px;
    color: var(--darkgray);
    margin-top: 13px;
}
.containerHighlights :nth-child(2n+1) img{
    grid-area: 1 / 1 / 2 / 2;
}
.containerHighlights :nth-child(2n) img{
    grid-area: 1 / 2 / 2 / 3;
}
.containerHighlights :nth-child(2n) div{
    grid-area: 1 / 1 / 2 / 2;
    margin-left: 95px;
}
.containerHighlights :nth-child(2n+1) div{
    grid-area: 1 / 2 / 2 / 3;
    margin-right: 95px;
}

@media only screen and (max-width: 910px) {
    .container{
        margin-right: 5%;
        margin-left: 5%;
        margin-top: 0;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        grid-row-gap: 0px;
    }
    .container img{
        width: 100%;
        height: auto;
        grid-area: 1 / 1 / 2 / 2;
        margin-top: 0;
    }
    .container h4{
        grid-area: 2 / 1 / 3 / 2;
    }
    .container h1{
        grid-area: 3 / 1 / 4 / 2;
        font-size: 35px;
        line-height: 44px;
    }
    .container p{
        grid-area: 4 / 1 / 5 / 2;
        margin-top: 0;
    }
    .containerHighlights{
        margin-right: 5%;
        margin-left: 5%;
    }
    .containerHighlights .divHighlights{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
    }
    .containerHighlights .divHighlights img{
        grid-area: 1 / 1 / 2 / 2;
        width: 100%;
        height: auto;
    }
    .containerHighlights .divHighlights div{
        grid-area: 2 / 1 / 3 / 2;
        margin-left: 0;
        margin-right: 0;
        margin-top: 21px;
        max-width: 560px;    }
    .containerHighlights .divHighlights p{
        margin-top: 20px;
    }
}


