
.container{
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 100px;
    grid-row-gap: 0px;
}

.h3{
    grid-area: 1 / 2 / 2 / 3;
    font-size: 20px;
    font-weight: 600;
    color: #373737;
    align-self: flex-end;
}

.h1{
    grid-area: 2 / 2 / 3 / 3;
    font-size: 50px;
    font-weight: 600;
    color: #373737;
}

.img{
    width: 560px;
    height: 400px;
    object-fit: contain;
    grid-area: 1 / 1 / 4 / 2;
}

.containerHighlights{
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 60px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(autofill);
    grid-row-gap: 80px;
}

.containerHighlights :nth-child(2n+1) img{
    grid-area: 1 / 1 / 2 / 2;
}
.containerHighlights :nth-child(2n) img{
    grid-area: 1 / 2 / 2 / 3;
}

.divHighlights{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 0px;
    align-items: center;
    justify-items: center;
}

.divHighlights :nth-child(2n) div{
    grid-area: 1 / 1 / 2 / 2;
    margin-left: 95px;
}
.divHighlights :nth-child(2n+1) div{
    grid-area: 1 / 2 / 2 / 3;
    margin-right: 95px;
}

.imgHigh{
    max-width: 560px;
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.h3High{
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: -0.4px;
    color: #373737;
}

.pHigh{
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.1px;
    color: #373737;
    margin-top: 13px;
}



