.nav{
    position: relative;       
}

.divNav{
    height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #CCCCCC;
}

.div{
    width: 126px;
    height: 70px;
    text-align: center;    
}

.link{
    text-decoration: none;
}

.p{
    font-size: 14px;
    font-weight: 600;
    color: #191919;
    margin-top: 27px;
    
}

.logo{
    width: 37.54px;
    height: 37.54px;
    margin-left: 15px;
    margin-top: 16.85px;
}

.on{
    width: 126px;
    height: 70px;
    text-align: center;
}

@media only screen and (max-width: 910px) {
    .select{
        display: none;
    }
}