nav{
    position: relative;
}
nav .nav{
    height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #373737;
}
nav .nav figure{
    width: 115px;
    margin: 0;
    margin-left: 35px;
}
nav .nav .active{
    width: 126px;
    height: 70px;
    text-align: center;
}
nav .nav .active p{
    font-size: 14px;
    font-weight: 600;
    color: #373737;
    margin-top: 27px;
}

@media only screen and (max-width: 910px) {
    .active{
        display: none;
    }
}