@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Truculenta:opsz,wght@12..72,200&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #EDE9E7;
	font-family: 'Montserrat', sans-serif;
}

main {
	max-width: 1000px;
	margin: 50px auto;
	overflow: hidden;
}